---
title: Charlie Nova
subtitle: Puppers in the Sky
comments: false
---

<p align="center"><img src="https://scontent-lax3-1.cdninstagram.com/vp/f3e3f761acf09449b147bcdc001b9e97/5C42AC62/t51.2885-15/e35/28159053_158808178158209_8075321884155052032_n.jpg" width="360"></p>

## Find me online

 - Instagram [NaughtySpots](https://instagram.com/naughtyspots)

## I am derg

 - Ruff

## Biography

> I am the sheepiest sheepdog. Throw my frisbee. Heck.
